---
import FadeUp from "./React/FadeUp";
import ContactForm from "./React/ContactForm";
import { CenterTitle } from "./React/TitleTag";
import {
    FaceBookIcon,
    GmailIcon,
    DiscordIcon,
    ContactArt,
    InstagramIcon,
    TwitterIcon,
} from "../assets/SVGs";
---

<section
    id="contact"
    class="w-full min-h-screen mb-[15em] px-6 pb-4 pt-16 bg-background"
>
    <CenterTitle title="Contact" client:load />

    <FadeUp
        width="100%"
        className="flex_center flex-col p-4 text-[1.2em]"
        client:load
    >
        <h2 class="gradientText font-ubuntu text-[2.4rem]">
            Let's collaborate!
        </h2>
        <p>Contact me to discuss your web development needs</p>
        <p>or just to say hello. 😉</p>
    </FadeUp>

    <div class="flex_center w-full h-full gap-20 px-20 pt-8 pb-16">
        <FadeUp className="flex_center flex-col relative" client:load>
            <div
                class="w-[450px] aspect-square rounded-full border-2 border-dashed border-white/40"
                id="socialCircle"
            >
                <a
                    href="https://www.facebook.com/ChiragChrg/"
                    class="socialIcon absolute w-16 aspect-square flex_center p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Facebook"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={FaceBookIcon.src}
                        alt="FaceBook"
                        width={30}
                        height={30}
                    />
                </a>
                <a
                    href="https://www.instagram.com/chiragchrg/"
                    class="socialIcon absolute w-16 aspect-square flex_center p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Instagram"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={InstagramIcon.src}
                        alt="Instagram"
                        width={30}
                        height={30}
                    />
                </a>
                <a
                    href="mailto:chiruchirag2001@gmail.com"
                    class="socialIcon absolute w-16 aspect-square flex_center p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Gmail"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={GmailIcon.src}
                        alt="Gmail"
                        width={30}
                        height={30}
                    />
                </a>
                <a
                    href="https://x.com/ChrgChirag"
                    class="socialIcon absolute w-16 aspect-square flex_center p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Twitter"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={TwitterIcon.src}
                        alt="Twitter X"
                        width={30}
                        height={30}
                    />
                </a>
                <a
                    href="https://discordapp.com/users/647359627461263390"
                    class="socialIcon absolute w-16 aspect-square flex_center p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Discord"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={DiscordIcon.src}
                        alt="Discord"
                        width={30}
                        height={30}
                    />
                </a>
            </div>

            <img
                class="absolute top-12"
                src={ContactArt.src}
                alt="ContactArt"
                width="400px"
            />
        </FadeUp>

        <ContactForm client:load />
    </div>
</section>

<script type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const center = document.querySelector("#socialCircle");
        const images = document.querySelectorAll(".socialIcon");

        if (!center || !images.length) {
            console.error("Social circle or icons not found.");
            return;
        }

        const iconSize = 64;
        const radius = 225; // Adjust radius as needed

        images.forEach((image, index) => {
            const angle = (index / (images.length - 1)) * Math.PI;
            const x = Math.cos(-angle) * radius - iconSize / 2;
            const y = Math.sin(-angle) * radius - iconSize / 2;

            const imageStyle = image.style;
            const centerWidth = center.offsetWidth;
            const centerHeight = center.offsetHeight;

            imageStyle.left = `${centerWidth / 2 + x}px`;
            imageStyle.top = `${centerHeight / 2 + y}px`;
        });
    });
</script>
