---
import { CenterTitle, ContactForm } from "./UI";
import {
    FaceBookIcon,
    GmailIcon,
    DiscordIcon,
    ContactArt,
    InstagramIcon,
    TwitterIcon,
} from "../assets/SVGs";
---

<section
    id="contact"
    class="w-full min-h-screen mb-16 lg:mb-[15em] px-6 pb-4 pt-16 bg-background"
>
    <CenterTitle title="Contact" color="purple" />

    <div class="w-full flex_center flex-col p-4 text-[1.2em] text-center">
        <h2
            class="Fade_Up gradientText font-ubuntu text-[2rem] lg:text-[2.4rem]"
        >
            Let's collaborate!
        </h2>
        <p class="Fade_Up">Contact me to discuss your web development needs</p>
        <p class="Fade_Up">or just to say hello. 😉</p>
    </div>

    <div
        class="flex_center flex-col lg:flex-row w-full h-full gap-4 lg:gap-10 lg:px-20 pt-8 pb-16"
    >
        <div class="relative w-full flex_center flex-col">
            <div
                class="Fade_Up w-full max-w-[350px] scale-[0.9] lg:scale-1 lg:max-w-[450px] aspect-square rounded-full border-2 border-dashed border-white/40 mb-8 md:mb-0 md:mt-7"
                id="socialCircle"
            >
                <a
                    href="https://www.facebook.com/ChiragChrg/"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Facebook"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={FaceBookIcon.src}
                        alt="FaceBook"
                        width={30}
                        height={30}
                    />
                </a>
                <a
                    href="https://www.instagram.com/chiragchrg/"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Instagram"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={InstagramIcon.src}
                        alt="Instagram"
                        width={30}
                        height={30}
                    />
                </a>
                <a
                    href="mailto:chiruchirag2001@gmail.com"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Gmail"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={GmailIcon.src}
                        alt="Gmail"
                        width={30}
                        height={30}
                    />
                </a>
                <a
                    href="https://x.com/ChrgChirag"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Twitter"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={TwitterIcon.src}
                        alt="Twitter X"
                        width={30}
                        height={30}
                    />
                </a>
                <a
                    href="https://discordapp.com/users/647359627461263390"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-white/40 rounded-full"
                    title="Discord"
                    target="_blank"
                    rel="noreferrer"
                >
                    <img
                        src={DiscordIcon.src}
                        alt="Discord"
                        width={30}
                        height={30}
                    />
                </a>
            </div>

            <img
                class="Fade_Up absolute top-8 w-[300px] lg:w-[400px]"
                src={ContactArt.src}
                alt="ContactArt"
                loading="lazy"
            />
        </div>

        <ContactForm />
    </div>
</section>

<script type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const center = document.querySelector("#socialCircle");
        const images = document.querySelectorAll(".socialIcon");

        if (!center || !images.length) {
            console.error("Social circle or icons not found.");
            return;
        }

        const iconSize = images[0].clientWidth;
        const radius = Math.ceil((center.clientWidth + 2) / 2);

        images.forEach((image, index) => {
            const angle = (index / (images.length - 1)) * Math.PI;
            const x = Math.cos(-angle) * radius - iconSize / 2;
            const y = Math.sin(-angle) * radius - iconSize / 2;

            const imageStyle = image.style;
            const centerWidth = center.offsetWidth;
            const centerHeight = center.offsetHeight;

            imageStyle.left = `${centerWidth / 2 + x}px`;
            imageStyle.top = `${centerHeight / 2 + y}px`;
        });
    });
</script>
