---
import { Image } from "astro:assets";
import {
    DiscordIcon,
    FaceBookIcon,
    GithubIcon,
    InstagramIcon,
    LinkedinIcon,
    LogoIcon,
    TwitterIcon,
    PurpleWave,
} from "../assets/SVGs";

const currentYear = new Date().getFullYear();
---

<footer
    class="relative bottom-0 w-full h-[50vh] flex justify-between items-center flex-col px-4 py-8 bg-footer"
>
    <Image
        src={PurpleWave}
        alt="LogoIcon"
        class="absolute -translate-y-full pb-4 w-full"
    />

    <div class="w-full flex_center flex-col gap-2">
        <Image src={LogoIcon} alt="LogoIcon" width={80} height={80} />
        <span>ChiragChrg | Portfolio</span>
    </div>

    <div class="grid grid-cols-3 lg:grid-cols-6 gap-x-20 gap-y-10 lg:gap-20">
        <a
            href="https://www.facebook.com/ChiragChrg/"
            target="_blank"
            rel="noreferrer"
        >
            <Image src={FaceBookIcon} alt="FaceBook" width={30} height={30} />
        </a>
        <a href="https://x.com/ChrgChirag" target="_blank" rel="noreferrer">
            <Image src={TwitterIcon} alt="Twitter X" width={30} height={30} />
        </a>
        <a
            href="https://www.instagram.com/chiragchrg/"
            target="_blank"
            rel="noreferrer"
        >
            <Image src={InstagramIcon} alt="Instagram" width={30} height={30} />
        </a>
        <a
            href="https://in.linkedin.com/in/chiragchrg"
            target="_blank"
            rel="noreferrer"
        >
            <Image src={LinkedinIcon} alt="Discord" width={30} height={30} />
        </a>
        <a
            href="https://github.com/ChiragChrg"
            target="_blank"
            rel="noreferrer"
        >
            <Image src={GithubIcon} alt="Discord" width={30} height={30} />
        </a>
        <a
            href="https://discord.gg/WmVQjMryDz"
            target="_blank"
            rel="noreferrer"
        >
            <Image src={DiscordIcon} alt="Discord" width={30} height={30} />
        </a>
    </div>

    <span>© Copyright 2023-{currentYear} ChiragChrg</span>
</footer>
