---
import { Image } from "astro:assets";

const { config } = Astro.props;
---

<section
    id="Hero"
    class="w-full h-[calc(100vh-4rem)] py-4 bg-background flex justify-evenly lg:justify-around items-center flex-col-reverse lg:flex-row overflow-hidden"
>
    <!-- Hero Intro Info -->
    <div class="w-full lg:w-fit flex justify-start items-center flex-col gap-8">
        <div class="text-[18px] lg:text-[26px] text-center lg:text-left">
            <p class="Fade_Stagger">Hi👋🏻 My name is</p>
            <h1
                class="Fade_Stagger gradientText font-ubuntu text-[4em] lg:text-[9rem] leading-tight"
            >
                {config.firstName}&nbsp;{config.lastName}
            </h1>
            <p class="Fade_Stagger">I'm a {config.position}.</p>
            <p class="Fade_Stagger">
                {config.tagLine.prefixText}
                <span class="gradientText font-ubuntu">
                    {config.tagLine.highlightedText}
                </span>
                {config.tagLine.suffixText}
            </p>
        </div>

        <div
            class="Fade_Stagger flex justify-center lg:justify-start items-center w-full gap-10 py-4"
        >
            {
                config.links &&
                    config.links.map(
                        (link: {
                            label: string;
                            url: string;
                            icon: string;
                        }) => (
                            <a
                                href={link.url}
                                title={link.label}
                                target="_blank"
                                rel="noreferrer"
                                aria-label={link.label}
                                class="Fade_Stagger"
                            >
                                <Image
                                    src={link.icon}
                                    alt={link.label}
                                    width={30}
                                    height={30}
                                />
                            </a>
                        ),
                    )
            }
        </div>
    </div>

    <!-- Hero Orbit Animation -->
    <div
        class="Hero_Orbit relative flex_center w-[360px] lg:w-[500px] aspect-square"
    >
        <div
            id="avatarImage"
            role="button"
            class="flex_center w-[250px] aspect-square rounded-full z-10 cursor-pointer"
        >
            <Image
                src={config.avatar}
                alt=`${config.firstName} ${config.lastName} Avatar`
                class="object-cover w-full h-full rounded-full noDrag"
                width="180"
                height="180"
                priority
            />
        </div>

        <!-- Orbit Trails -->
        <div class="Spring_Up Hero_Trail Trail1">
            <span class="Orbit_Dot"></span>
        </div>
        <div class="Spring_Up Hero_Trail Trail2">
            <span class="Orbit_Dot"></span>
        </div>
        <div class="Spring_Up Hero_Trail Trail3">
            <span class="Orbit_Dot"></span>
        </div>
        <div class="Spring_Up Hero_Trail Trail4">
            <span class="Orbit_Dot"></span>
        </div>
    </div>
</section>
