---
import { CenterTitle, SkillTitle, SkillGrid } from "@components/UI";
const SkillStacksPromise = import("@utils/SkillStack");

let BackendLibrariesStack,
    DatabaseStack,
    FrontendLibrariesStack,
    PlatformsStack,
    StateUtilitiesStack,
    ToolsStack,
    WebLanguagesStack;

const skillStacks = await SkillStacksPromise;
BackendLibrariesStack = skillStacks.BackendLibrariesStack;
DatabaseStack = skillStacks.DatabaseStack;
FrontendLibrariesStack = skillStacks.FrontendLibrariesStack;
PlatformsStack = skillStacks.PlatformsStack;
StateUtilitiesStack = skillStacks.StateUtilitiesStack;
ToolsStack = skillStacks.ToolsStack;
WebLanguagesStack = skillStacks.WebLanguagesStack;
---

<section id="skills" class="w-full min-h-screen py-4 pt-14 bg-background">
    <CenterTitle title="Tech Stack" color="primary" />

    <div
        class="Fade_Up flex justify-center items-start flex-col lg:flex-row gap-2"
    >
        <div
            class="Fade_Up flex_center flex-col gap-4 py-4 xs:p-4 w-full h-full"
        >
            <SkillTitle title="Web & Programming" color="primary" />
            <SkillGrid stack={WebLanguagesStack} />
        </div>

        <div
            class="Fade_Up flex_center flex-col gap-4 py-4 xs:p-4 w-full h-full"
        >
            <SkillTitle title="Frontend" color="primary" />
            <SkillGrid stack={FrontendLibrariesStack} />
        </div>
    </div>

    <div
        class="Fade_Up flex justify-center items-start flex-col lg:flex-row gap-2"
    >
        <div
            class="Fade_Up flex_center flex-col gap-4 py-4 xs:p-4 w-full h-full"
        >
            <SkillTitle title="Backend" color="primary" />
            <SkillGrid stack={BackendLibrariesStack} />
        </div>

        <div
            class="Fade_Up flex_center flex-col gap-4 py-4 xs:p-4 w-full h-full"
        >
            <SkillTitle title="Database" color="primary" />
            <SkillGrid stack={DatabaseStack} />
        </div>
    </div>
    <div
        class="Fade_Up flex justify-center items-start flex-col lg:flex-row gap-2"
    >
        <div
            class="Fade_Up flex_center flex-col gap-4 py-4 xs:p-4 w-full h-full"
        >
            <SkillTitle title="State Management" color="primary" />
            <SkillGrid stack={StateUtilitiesStack} />
        </div>

        <div
            class="Fade_Up flex_center flex-col gap-4 py-4 xs:p-4 w-full h-full"
        >
            <SkillTitle title="Platform" color="primary" />
            <SkillGrid stack={PlatformsStack} />
        </div>
    </div>
    <div
        class="Fade_Up flex justify-center items-start flex-col lg:flex-row gap-2"
    >
        <div
            class="Fade_Up flex_center flex-col gap-4 py-4 xs:p-4 w-full h-full"
        >
            <SkillTitle title="Tools & Libraries" color="primary" />
            <SkillGrid stack={ToolsStack} className="!flex" />
        </div>
    </div>
</section>
