---
export function getStaticPaths() {
    return [
        { params: { projectID: "arms-v3" } },
        { params: { projectID: "vortexa" } },
        { params: { projectID: "next-mart" } },
        { params: { projectID: "arms-v2" } },
        { params: { projectID: "xrecon" } },
        { params: { projectID: "yoatube" } },
        { params: { projectID: "srinivas-exam-manager" } },
        { params: { projectID: "piktures" } },
        { params: { projectID: "days-beyond" } },
        { params: { projectID: "arms-v1" } },
        { params: { projectID: "film-stack" } },
        { params: { projectID: "covidtrax" } },
        { params: { projectID: "cookeez" } },
        { params: { projectID: "climate" } },
    ];
}
const { projectID } = Astro.params;

import { Image } from "astro:assets";
import { ProjectLayout } from "../../layouts";
import { GithubIcon } from "../../assets/SVGs";
import { ExternalLinkIcon } from "lucide-preact";
import { CenterTitle, SectionTitle } from "../../components/UI";

// Lazy loading ProjectInfo
const ProjectInfo = import("../../utils/ProjectsList");
const { ProjectsList } = await ProjectInfo;
const [project] = ProjectsList.filter(
    (itm) => itm.Name.replaceAll(" ", "-").toLowerCase() === projectID,
);
---

<ProjectLayout
    title=`${project.Name} | ChiragChrg`
    description={project.ShortDesc}
>
    <div class="Fade_In flex_center absolute inset-0 w-full h-full z-[-1]">
        <Image
            src={project.Shot}
            alt={`${project.Name}_BG_Image`}
            class="w-full h-full opacity-50 blur-md p-6 object-cover"
        />
        <div class="bg-imgOverlayGradient w-full h-full absolute inset-0"></div>
    </div>

    <div class="flex_center flex-col gap-4 py-4">
        <Image
            src={project.Logo}
            alt={`${project.Name}_Image`}
            class="Fade_Up"
            width={100}
            height={100}
        />
        <h1 class="Fade_Up font-ubuntu text-[1.8em] tracking-[0.2em]">
            {project.Name}
        </h1>

        <div class="w-full flex_center gap-4">
            {
                project?.Tech?.map((tech, index) => {
                    return (
                        <Image
                            src={tech.icon}
                            alt={`TechIcon_${index}`}
                            width={28}
                            height={28}
                            class="Fade_Stagger"
                        />
                    );
                })
            }
        </div>

        <div class="flex_center gap-4">
            <a
                href={project.Source}
                target="_blank"
                rel="author"
                class="Fade_Stagger flex_center gap-2 bg-LinkBtnGradient px-4 py-2 rounded"
            >
                <Image
                    src={GithubIcon}
                    alt="GithubIcon"
                    width={24}
                    height={24}
                />
                <span>Source Code</span>
            </a>
            <a
                href={project.Link}
                target="_blank"
                rel="noreferrer"
                class="Fade_Stagger flex_center gap-2 bg-LinkBtnGradient px-4 py-2 rounded"
            >
                <ExternalLinkIcon />
                <span>Live Demo</span>
            </a>
        </div>
    </div>

    <div class="Fade_Up font-ubuntu text-[1.5em] pb-3 w-full">
        About the project.
    </div>
    <div
        class="flex justify-center items-center lg:items-start flex-col lg:flex-row gap-4 py-10"
    >
        <Image
            src={project.Mockup}
            alt={`${project.Name}_Mockup_Image`}
            width={600}
            class="Fade_Up"
        />
        <p class="Fade_Up md:w-[80%] lg:w-full text-justify text-[1.1em]">
            {project.Desc}
        </p>
    </div>

    <SectionTitle title="Features" color="purple">
        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-y-10 md:gap-x-10 md:gap-y-0 md:mx-4"
        >
            {
                project.features.map((items) => (
                    <div class="Fade_Up md:p-4 text-center md:text-start">
                        <span class="font-ubuntu text-[1.125em] border-b-2 border-purpleLite">
                            ⭐ {items.title} :
                        </span>
                        <p class="md:pl-16 text-center md:text-justify">
                            {items.description}
                        </p>
                    </div>
                ))
            }
        </div>
    </SectionTitle>

    <CenterTitle title="Tech Stack" color="pink" />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-2">
        {
            project.Tech.map((tech) => (
                <div class="Fade_Stagger flex_center flex-col gap-4 p-4 border border-transparent hover:border-pinkLiteAlt bg-skillGradientAlt rounded-md transition-colors duration-200">
                    <div class="flex_center gap-4">
                        <Image
                            src={tech.icon}
                            alt={tech.title}
                            width={40}
                            height={40}
                        />
                        <span class="text-[1.2em]">{tech.title}</span>
                    </div>
                    <p class="text-center">{tech.description}</p>
                </div>
            ))
        }
    </div>
    <div class="w-full h-screen"></div>
</ProjectLayout>
