---
import { Image } from "astro:assets";
import { ProjectLayout } from "@layouts/index";
import { CheckIcon, ClipboardCopyIcon, ExternalLinkIcon } from "lucide-preact";
import { CenterTitle, SectionTitle } from "@components/UI";

// Dynamic Route Generation for Projects
export async function getStaticPaths() {
    const { PROJECTS_LIST } = await import("@/config/ProjectsList");

    return PROJECTS_LIST.filter((project) => !project.hideProject).map(
        (project) => ({
            params: {
                projectID: project.Name.replaceAll(" ", "-").toLowerCase(),
            },
        }),
    );
}

const { projectID } = Astro.params;
const author = "ChiragChrg";

const { PROJECTS_LIST } = await import("@/config/ProjectsList");
const { themeConfig, siteConfig, headerConfig, footerConfig } = await import(
    "@/config"
);

// Find the project
const project = PROJECTS_LIST.find(
    (itm) => itm.Name.replaceAll(" ", "-").toLowerCase() === projectID,
);

// If no project is found, return 404
if (!project) {
    return Astro.redirect("/404");
}
---

<ProjectLayout
    title={`${project.Name} | ${author}`}
    description={project.ShortDesc}
    config={{
        theme: themeConfig,
        site: siteConfig,
        header: headerConfig,
        footer: footerConfig,
    }}
>
    <div class="Fade_In flex_center absolute inset-0 w-full h-full z-[-1]">
        <Image
            src={project.Shot}
            alt={`${project.Name}_BG_Image`}
            class="w-full h-full opacity-50 blur-md p-6 object-cover"
        />

        <!-- Dark Image Overlay -->
        <div
            style="background: var(--imgOverlayGradient);"
            class="w-full h-full absolute inset-0"
        >
        </div>
    </div>

    <div class="flex_center flex-col gap-4 py-4">
        <Image
            src={project.Logo}
            alt={`${project.Name}_Image`}
            class="Fade_Up"
            width={100}
            height={100}
            loading="eager"
        />
        <h1
            class="Fade_Up font-ubuntu text-[1.6em] md:text-[1.8em] tracking-wider md:tracking-[0.2em] text-center"
        >
            {project.Name}
        </h1>

        <div class="w-full flex_center gap-4">
            {
                project?.Tech?.map((tech, index) => {
                    return (
                        <Image
                            src={tech.icon}
                            alt={`TechIcon_${index}`}
                            width={28}
                            height={28}
                            class="Fade_Stagger"
                            loading="eager"
                        />
                    );
                })
            }
        </div>

        <div class="flex_center gap-4 text-[1em]">
            <a
                href={project.Source}
                target="_blank"
                rel="author"
                class="Fade_Stagger flex_center gap-2 LinkBtnGradient px-4 py-2 rounded"
            >
                <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 16 16"
                    color="#fff"
                    height="24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: var(--heroSocialColor);"
                >
                    <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                    >
                    </path>
                </svg>
                <span>Source Code</span>
            </a>
            <a
                href={project.Link}
                target="_blank"
                rel="noreferrer"
                class="Fade_Stagger flex_center gap-2 LinkBtnGradient px-4 py-2 rounded"
            >
                <ExternalLinkIcon />
                <span>Live Demo</span>
            </a>
        </div>
    </div>

    <h2 class="Fade_Up font-ubuntu text-[1.5em] pt-4 pb-3 w-full">
        About the project.
    </h2>
    <div
        class="flex justify-center items-center xl:items-start flex-col xl:flex-row gap-4 py-10"
    >
        <Image
            src={project.Mockup}
            alt={`${project.Name}_Mockup_Image`}
            width={600}
            class="Fade_Up"
            loading="eager"
        />
        <div class="Fade_Up flex_center flex-col gap-4">
            {
                project.Demo && (
                    <div class="flex items-center flex-col gap-4 w-fit px-4 py-2 LinkBtnGradient rounded-md mt-4 lg:mt-0">
                        <h3 class="min-w-max my-auto">Demo Credentials</h3>

                        <div class="flex justify-evenly w-full flex-col md:flex-row gap-2 text-[0.8em]">
                            <div class="flex gap-4 bg-backgroundLite p-2 rounded-md">
                                <span class="min-w-20 md:w-fit">Email : </span>
                                <span id="emailContent" class="w-full">
                                    {project.Demo?.email}
                                </span>

                                <button
                                    id="emailCopyBtn"
                                    class="flex_center relative"
                                >
                                    <ClipboardCopyIcon class="emailCopyIcon visible" />
                                    <CheckIcon class="emailCopyIcon absolute invisible" />
                                </button>
                            </div>
                            <div class="flex gap-4 bg-backgroundLite p-2 rounded-md">
                                <span class="min-w-20 md:w-fit">
                                    Password :{" "}
                                </span>
                                <span id="passContent" class="w-full">
                                    {project.Demo?.password}
                                </span>

                                <button
                                    id="passCopyBtn"
                                    class="flex_center relative"
                                >
                                    <ClipboardCopyIcon class="passCopyIcon visible" />
                                    <CheckIcon class="passCopyIcon absolute invisible" />
                                </button>
                            </div>
                        </div>
                    </div>
                )
            }

            <p class="w-full text-justify text-[1.1em] mt-4 px-4 indent-12">
                {project.Desc}
            </p>
        </div>
    </div>

    <SectionTitle title="Features" color="primary">
        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-y-4 md:gap-y-6 md:gap-x-10 md:mx-4"
        >
            {
                project.features.map((items) => (
                    <div class="Fade_Up p-2 md:p-4 text-center md:text-start flex flex-col gap-3 border border-primaryLiteAlt sm:border-transparent hover:border-primaryLiteAlt bg-skillGradientAlt rounded-md transition-colors duration-200">
                        <span class="font-ubuntu text-[1.125em]">
                            {items.title}
                        </span>
                        <p class="md:pl-8 text-center md:text-justify">
                            {items.description}
                        </p>
                    </div>
                ))
            }
        </div>
    </SectionTitle>

    <CenterTitle title="Tech Stack" color="secondary" />
    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-2 mb-96 4xl:mb-[30rem]"
    >
        {
            project.Tech.map((tech) => (
                <div class="Fade_Stagger flex_center flex-col gap-4 p-4 border border-secondaryLiteAlt sm:border-transparent hover:border-secondaryLiteAlt bg-skillGradientAlt rounded-md transition-colors duration-200">
                    <div class="flex_center gap-4">
                        <Image
                            src={tech.icon}
                            alt={tech.title}
                            width={40}
                            height={40}
                        />
                        <span class="text-[1.2em]">{tech.title}</span>
                    </div>
                    <p class="text-center">{tech.description}</p>
                </div>
            ))
        }
    </div>
</ProjectLayout>

<script is:inline type="module">
    const emailCopyBtn = document.getElementById("emailCopyBtn");
    const passCopyBtn = document.getElementById("passCopyBtn");
    const emailContent = document.getElementById("emailContent");
    const passContent = document.getElementById("passContent");
    const emailCopyIcons = document.querySelectorAll(".emailCopyIcon");
    const passCopyIcons = document.querySelectorAll(".passCopyIcon");

    emailCopyBtn?.addEventListener("click", () => {
        navigator.clipboard.writeText(emailContent?.textContent);

        emailCopyIcons[0].classList.replace("visible", "invisible");
        emailCopyIcons[1].classList.replace("invisible", "visible");

        setTimeout(() => {
            emailCopyIcons[0].classList.replace("invisible", "visible");
            emailCopyIcons[1].classList.replace("visible", "invisible");
        }, 2000);
    });

    passCopyBtn?.addEventListener("click", () => {
        navigator.clipboard.writeText(passContent?.textContent);

        passCopyIcons[0].classList.replace("visible", "invisible");
        passCopyIcons[1].classList.replace("invisible", "visible");

        setTimeout(() => {
            passCopyIcons[0].classList.replace("invisible", "visible");
            passCopyIcons[1].classList.replace("visible", "invisible");
        }, 2000);
    });
</script>
