---
import { SEO } from "astro-seo";
import { AstroFont } from "astro-font";
import { join } from "node:path";
import { Cursor, ProjectsHeader } from "@components/UI";
import { Footer } from "@components/index";

import "@styles/themes.css";
import "@styles/global.css";
import "@styles/utility.css";
import "@styles/cursor.css";

const { title, description, config } = Astro.props;
---

<!doctype html>
<html lang="en" class=`theme-${config.theme} dark`>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="#000" />
        <meta name="robots" content="index, follow" />
        <meta
            name="google-site-verification"
            content={config.site.googleSiteVerification}
        />
        <meta name="keywords" content={config.site.keywords} />
        <meta name="author" content="ChiragChrg" />
        <link rel="manifest" href="/manifest.json" />

        <!-- Preload CSS Styles -->
        <!-- <link rel="preload stylesheet" href="/styles/global.css" as="style" /> -->
        <!-- <link rel="preload stylesheet" href="/styles/utility.css" as="style" /> -->
        <!-- <link rel="preload stylesheet" href="/styles/cursor.css" as="style" /> -->

        <SEO
            title={title}
            description={description}
            canonical=`https://chiragchrg.netlify.app/projects/${title.replace(" | ChiragChrg","").replaceAll(" ","-").toLowerCase()}`
            openGraph={{
                basic: {
                    title: `${title}`,
                    type: "website",
                    image: config.site.avatar,
                    url: config.site.siteUrl,
                },
            }}
            twitter={{
                title: `${title}`,
                description: `${description}`,
                card: "summary",
                site: "@ChrgChirag",
                creator: "@ChrgChirag",
                image: config.site.avatar,
            }}
            extend={{
                link: [
                    { rel: "icon", type: "image/png", href: "/favicon.png" },
                    {
                        rel: "shortcut",
                        type: "image/png",
                        href: "/favicon.png",
                    },
                    {
                        rel: "apple-touch-icon",
                        type: "image/png",
                        href: "/favicon.png",
                    },
                ],
                meta: [
                    {
                        name: "twitter:url",
                        content: config.site.siteUrl,
                    },
                ],
            }}
        />

        <AstroFont
            config={[
                {
                    name: "Poppins",
                    src: [
                        {
                            weight: "400",
                            style: "normal",
                            path: join(
                                process.cwd(),
                                "public",
                                "fonts",
                                "poppins-v20-latin-regular.woff2",
                            ),
                        },
                    ],
                    preload: true,
                    display: "swap",
                    fallback: "serif",
                    cssVariable: "astro-font-poppins",
                    selector: ".font-poppins",
                },
                {
                    name: "Satisfy",
                    src: [
                        {
                            weight: "400",
                            style: "normal",
                            path: join(
                                process.cwd(),
                                "public",
                                "fonts",
                                "satisfy-v17-latin-regular.woff2",
                            ),
                        },
                    ],
                    preload: true,
                    display: "swap",
                    fallback: "serif",
                    cssVariable: "astro-font-satisfy",
                    selector: ".font-satisfy",
                },
                {
                    name: "Ubuntu",
                    src: [
                        {
                            weight: "700",
                            style: "normal",
                            path: join(
                                process.cwd(),
                                "public",
                                "fonts",
                                "ubuntu-v20-latin-700.woff2",
                            ),
                        },
                    ],
                    preload: true,
                    display: "swap",
                    fallback: "serif",
                    cssVariable: "astro-font-ubuntu",
                    selector: ".font-ubuntu",
                },
            ]}
        />
    </head>
    <body>
        <ProjectsHeader config={config.header} />

        <main class="px-6 md:px-8">
            <slot />
        </main>

        <Cursor />
        <Footer config={config.footer} />
        <script src="../script.ts"></script>
    </body>
</html>
